/* 头部 */
.header{
    position: sticky;
    left: 0;
    top: 0;
    // background-color:#111111;
    background-color:transparent;
    padding:1em 0em;
    z-index: 1000;

    .navbar{
        background-color:transparent;
        border:0px;
        border-radius: 0px;
        margin: 0;

        .navbar-brand{
            color:#fff;
            text-transform: uppercase;
            font-family: Ossb;
        }

        .nav{
            a{
                color:#fff;
                text-transform: uppercase;
                border-bottom:3px solid transparent;
                transition:all linear .3s;

                &:hover{
                    border-bottom:3px solid #fcac45;
                }
            }
        }
    }
 

    @media screen and (max-width:768px){
        &{
            background-color:#111111;
            .navbar{
                .nav{
                    a{
                        text-align: center;
                    }
                }
            }
        }
        
    }
}

/* footer */ 
.footer {
    padding: 2rem 22px;
    background: #222222;

    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: Osl;   
    }

    .footer_left{
        color: #787878;
        width: 50%;
        
        span{
            font-family: Ossb;
        }
    }

    .footer_right{
        width: 50%;
        text-align: right;
        margin-right: 1%;

        .border{
            border-radius: 100px;
            border: 3px solid #c3c3c3;
            display: inline-block;
            margin-right: 1em;
        }
    }

    @media screen and (max-width:990px) {
        &  {

            .container{
                flex-wrap: wrap;
                font-size: 13px;
                text-align: center;
            }
            
        }

        &  {

            .footer_left{
                width: 100%;
                margin-bottom: 1rem;
            }
        
        }

        &  {

            .footer_right{
                width: 100%;
                text-align: center;
            }
        
        }
    }
}

/* 返回顶部 */
#gotop {
    position: fixed;
    bottom: 90px;
    right: 0%;
    width: 80px;
    cursor: pointer;
    z-index: -99998;
    opacity: 0;

    transition: all linear .4s;

    &:hover {
        animation: rubberBand 1s;
    }

    @keyframes rubberBand {
        from {
          transform: scale3d(1, 1, 1);
        }
      
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
      
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
      
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
      
        65% {
          transform: scale3d(.95, 1.05, 1);
        }
      
        75% {
          transform: scale3d(1.05, .95, 1);
        }
      
        to {
          transform: scale3d(1, 1, 1);
        }
      }
}